# Default ignored files
/shelf/
/workspace.xml
target\
.idea\
accounts/target
accounts/.idea
configserver/target
configserver/.idea
loans/target
loans/.idea
cards/target
cards/.idea
eureka-server/target
gateway-server/target